<!DOCTYPE html>
<html>
    <head>
        <title>KwangYean's HomePage!!</title>
        <link rel='stylesheet' type='text/css' href='css/style.css'>
        <style>
            #p1 {
                background-color: red;
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            #p2 {
                background-color: rgb(255, 145, 0);
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            #p3 {
                background-color: rgb(255, 251, 0);
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            #p4 {
                background-color: rgb(0, 255, 13);
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            #p5 {
                background-color: rgb(0, 17, 255);
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            #p6 {
                background-color: rgb(14, 8, 48);
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            #p7 {
                background-color: rgb(247, 0, 255);
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            .box{
                text-align: left;
                font-size: 3rem;
                color: gold;
            }
            .text-center{text-align: center;}
            #p8 {color: rgb(131, 68, 233);}
        </style>
    </head>
    <body>
        <div>  
            <h1><p id="p7" class="text-center">보라맛</p></h1>
        </div>
    </body>
</html>