<!DOCTYPE html>
<html>
    <head>
        <title>error</title>
        <script>
            function back(){
                window.history.back();
            }
        </script>
    </head>
    <body>
        <main class="container">
            <div class="bg-light p-5 rounded mt-3">
                <h1>error</h1>
                <p class="lead"><%=message%></p>
                <button class="btn btn-lg btn-primary" onclick="back()">뒤로가기</a>
            </div>
        </main>
    </body>
</html>