<!DOCTYPE html>
<html>
    <head>
        <title>KwangYean's HomePage!!</title>
        <link rel='stylesheet' type='text/css' href='css/style.css'>
        
        <style>
            #p1 {
                background-color: red;
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            #p2 {
                background-color: rgb(255, 145, 0);
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            #p3 {
                background-color: rgb(255, 251, 0);
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            #p4 {
                background-color: rgb(0, 255, 13);
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            #p5 {
                background-color: rgb(0, 17, 255);
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            #p6 {
                background-color: rgb(14, 8, 48);
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            #p7 {
                background-color: rgb(247, 0, 255);
                width: 300px;
                padding: 10px;
                border: 0px;
                margin: 0px;
            }
            .box{
                text-align: left;
                font-size: 3rem;
                color: gold;
            }
            .text-center{text-align: center;}
            #p8 {color: rgb(131, 68, 233);}
        </style>
    </head>
    <body>
        <div>  
            <h1><p id="p8" class="text-center">KwangYean's HomePage!!</p></h1>
            <p id="p1"><button onclick="FirstPage()">빨간맛</button></p>
            <p id="p2"><button onclick="SecondPage()">주황맛</button></p>
            <p id="p3"><button onclick="ThirdPage()">노랑맛</button></p>
            <p id="p4"><button onclick="FourthPage()">초록맛</button></p>
            <p id="p5"><button onclick="FifthPage()">파랑맛</button></p>
            <p id="p6"><button onclick="SixthPage()">남청맛</button></p>
            <p id="p7"><button onclick="SeventhPage()">보라맛</button></p>
        </div>
    </body>
</html>